<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>careers</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
            integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <style>
            #banner {
                width: 80%;
                height: 200px;
                object-fit: cover;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h1 class="text-center mt-2 mb-2">lot of work</h1>
            <img class="img-fluid", id="banner", src="http://127.0.0.1:5000/static/mysz-pigmejska.jpg">
            <h2 class="text-center">About</h2>
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Volutpat maecenas volutpat blandit aliquam etiam erat velit. Mollis aliquam ut porttitor leo. In iaculis nunc sed augue lacus
                viverra vitae congue eu. Massa tincidunt dui ut ornare lectus sit amet est placerat. Magnis dis parturient montes nascetur 
                ridiculus. Pretium lectus quam id leo in vitae turpis massa sed. Leo duis ut diam quam nulla porttitor massa. Sed augue lacus
                viverra vitae congue eu consequat. Dis parturient montes nascetur ridiculus. Consectetur adipiscing elit pellentesque habitant
                morbi. Vitae elementum curabitur vitae nunc sed velit dignissim sodales ut. Posuere urna nec tincidunt praesent semper feugiat.
            </p>
            <h2 class="text-center">Open positions</h2>
            
            <div> 
                {% for job in jobs %}
                    {% include 'jobitem.html' %}
                {% endfor %}
            </div>

            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg">Contact button</button>
            </div>
            
            <p class="text-center mt-4"> Copyright 2023, myszy </p>
        </div>
    </body>
</html>