<div class="row" style="border-bottom: 1px solid black; margin-bottom:15px; padding-bottom:4px">
    <div class="col-md-10">
        <h3>{{job.title}}</h3>
        <div>
            Location {{job.location}}
        </div>
        {%if job.salary > 4000 %}
            <div>
                <b>Salary {{job.salary}} {{job.currency}}</b>
            </div>
        {%endif%}
    </div>
    <div class="col-md-2">
        <a href="/job/{{job.id}}"t ype="button" class="btn btn-success">Apply</a>
    </div>
</div>